<div style="width: 98%; margin: auto;">
    <div class="d-flex flex-row justify-content-between">
         <div class="d-flex flex-column" style="width: 30%;">
            <div class="text-center mt-5" style="color: black; margin: auto; width: 100%;">
                <div class="d-flex flex-row justify-content-evenly align-items-center p-4 item">
                    <div style="width: 40%;">
                        <img src="{{user.photo}}" alt="icon" class="profile-photo">
                    </div>
                    <div style="width: 50%;">
                        <h4>{{user.firstName}} {{user.lastName}}</h4>
                        <p>{{user.username}}</p>
                        
                    </div>   
                </div>

                <br>

                <div class="d-flex flex-column justify-content-evenly align-items-center p-4 item">
                    <p>{{user.email}}</p>
                    <p>{{user.phone}}</p>
                </div>
                
            </div>
        </div>
        <div class="d-flex flex-column" style="width: 68%; height: auto;  ">
            <br>
            <br>

            <div class="mb-2 mr-2">
                <a href="/events" class="btn btn-primary float-right">Back to Events</a>
            </div>

            <div class="table-responsive">
                    <table class="table">
                        {{!-- <caption>Friends List</caption> --}}
                        <thead>
                            <tr>
                              <th scope="col">Name</th>
                              <th scope="col">Response</th>
                              <th></th>
                            </tr>
                        </thead>
                        <tbody>
                                {{#each invitations}}
                                    <tr>
                                        <td>{{this.user.dataValues.username}}</td>
                                        <td>{{this.state}}</td>
                                        <td>
                                            <a href="/delete/invitation/{{this.id}}" class="btn btn-danger">Delete</a>
                                        </td>
                                    </tr>
                                {{/each}}
                            
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
</div>