<div style="width: 98%; margin: auto;">
    <div class="d-flex flex-row justify-content-between">
        <div class="d-flex flex-column" style="width: 30%;">
            <div class="text-center mt-5" style="color: black; margin: auto; width: 100%;">
                <div class="d-flex flex-row justify-content-evenly align-items-center p-4 item">
                    <div style="width: 40%;">
                        <img src="{{user.photo}}" alt="icon" class="profile-photo">
                    </div>
                    <div style="width: 50%;">
                        <h4>{{user.firstName}} {{user.lastName}}</h4>
                        <p>{{user.username}}</p>
                        
                    </div>   
                </div>

                <br>

                <div class="d-flex flex-column justify-content-evenly align-items-center p-4 item">
                    <p>{{user.email}}</p>
                    <p>{{user.phone}}</p>
                </div>
                
            </div>
        </div>
        <div class="d-flex flex-column" style="width: 68%; height: auto;">
            <br>

            <div class="mb-2 mr-2">
                <a href="/events" class="btn btn-primary float-right">Back to Events</a>
            </div>

            {{#if hasInviteErrors}}
                {{#each InviteErrors}}
                    <p class="text-danger text-center">{{this}}</p>
                {{/each}}
            {{/if}}

            <div id="modal">
                    <form action="/post/invite/event" method="post" class="d-flex flex-column justify-content-center align-items-left" style="color: white;">
                        <div class="d-flex flex-row justify-content-between">
                            <h5 class="text-center" style="">Invite a friend to "{{eventData.name}}"</h5>
                        </div>
                        <input type="hidden" name="eventId" value="{{eventData.id}}">
                        <input type='text' class="form-control mb-1" name="username" placeholder="Username" required>
                        <input type="submit"  class="btn btn-primary mt-3" value="Invite a friend" style="width: 100%;">
                    </form>
            </div>

    </div>
</div>

<script>
    const button = document.getElementById('addbtn');
    const buttonClose = document.getElementById('closeModal');
    const modal = document.getElementById('modal');
    console.log(button);

    button.addEventListener('click', (e) => {
        modal.classList.remove('hidden');
    })

    buttonClose.addEventListener('click', (e) => {
        e.preventDefault();
        modal.classList.add('hidden');
    })
</script>