<br>
<div class="form d-flex flex-column justify-content-center align-items-left" style="width: 50%; margin: auto;">
                    <form enctype="multipart/form-data" action="/post/edit" method="post" class="d-flex flex-column justify-content-center align-items-left" style="color: white;">
                        <h5 class="text-center" style="color: black;">Edit This Post</h5>
                        <input type='file' class="form-control mb-2" name="image">
                        <textarea class="form-control" placeholder="Write Here your caption" name="text">{{publication.text}}
                        </textarea>
                        <input type="hidden" name="id" value="{{publication.id}}">
                        <input type="hidden" name="userId" value="{{publication.userId}}">
                        <div class="d-flex flex-row justify-content-between mt-2">
                            <a href="/Home" class="btn btn-secondary" style="width: 49%;">Back Home</a>
                            <input type="submit"  class="btn btn-primary" value="Edit Post" style="width: 49%;">
                        </div>
                        
                    </form>
</div>
 
<br>

{{#if (HasPhoto publication)}}
<div class="d-flex flex-column post-container-justText" style="width: 50%;">
                            <div class="d-flex flex-row justify-content-start post-header">
                                <img src="{{publication.user.dataValues.photo}}" alt="profile" class="profile_photo_post">
                                <div>
                                    <p><b>{{publication.user.dataValues.username}}</b></p>
                                    <p style="font-size: 10px;">{{publication.createdAt}}</p>
                                </div>
                                
                            </div>
                            
                            <div style="padding: 5px; margin-left: 10px;">
                                <p>
                                    {{publication.text}}
                                </p>
                                <br>

                            </div>
                        
                        {{#if publication.image}}
                            <div class="post_image">
                                <img src="/{{publication.image}}" alt="photo">
                            </div>
                        {{/if}}
</div>
{{else}}
<div class="d-flex flex-column post-container-justText"  style="width: 50%;">
                            <div class="d-flex flex-row justify-content-start post-header">
                                <img src="{{publication.user.dataValues.photo}}" alt="profile" class="profile_photo_post">
                                <div>
                                    <p><b>{{publication.user.dataValues.username}}</b></p>
                                    <p style="font-size: 10px;">{{publication.createdAt}}</p>
                                </div>

                            </div>
                            <div class="text-public" >
                                <h3>{{publication.text}}</h3>
                                <br>
                            </div>
</div>
{{/if}}
 