<div style="width: 98%; margin: auto;">
    <div class="d-flex flex-row justify-content-between">
        <div class="d-flex flex-column" style="width: 30%;">
            <div class="text-center mt-5" style="color: black; margin: auto; width: 100%;">
                <div class="d-flex flex-row justify-content-evenly align-items-center p-4 item">
                    <div style="width: 40%;">
                        <img src="{{user.photo}}" alt="icon" class="profile-photo">
                    </div>
                    <div style="width: 50%;">
                        <h4>{{user.firstName}} {{user.lastName}}</h4>
                        <p>{{user.username}}</p>
                        
                    </div>   
                </div>

                <br>

                <div class="d-flex flex-column justify-content-evenly align-items-center p-4 item">
                    <p>{{user.email}}</p>
                    <p>{{user.phone}}</p>
                </div>
                
            </div>
        </div>

        <div class="d-flex flex-column" style="width: 68%; height: auto;">
            <br>
            <div class="container">
                {{#if hasPublishErrors}}
                {{#each PublishErrors}}
                    <p class="text-danger text-center">{{this}}</p>
                {{/each}}
            {{/if}}
                <div class="form d-flex flex-column justify-content-center align-items-left" style="width: 80%; margin: auto;">
                    <form enctype="multipart/form-data" action="/post/post" method="post" class="d-flex flex-column justify-content-center align-items-left">
                        <h5 class="text-center" style="color: black;">Publish Something</h5>
                        <input type='file' class="form-control mb-1" name="image">
                        <textarea class="form-control" placeholder="Write Here your caption" name="text" rows="3"></textarea>
                        <div>
                            <input type="submit"  class="btn btn-primary mt-1 float-right" value="Publish" >
                        </div>
                    </form>
                </div>
                <br>
                <br>

                {{#each publications}}
                    {{#if (HasPhoto this)}}
                        <div class="d-flex flex-column post-container-justText">
                            <div class="d-flex flex-row justify-content-between post-header">
                                <div class="d-flex flex-row">
                                    <img src="{{this.user.dataValues.photo}}" alt="profile" class="profile_photo_post">
                                    <div>
                                        <p><b>{{this.user.dataValues.username}}</b></p>
                                        <p style="font-size: 10px;">{{this.createdAt}}</p>
                                    </div>

                                </div>
                                
                                <div>
                                    <a href="delete/post/{{this.id}}" class="btn btn-danger" >Delete</a>
                                    <a href="edit/post/{{this.id}}" class="btn btn-secondary" >Edit</a>
                                </div>
                            </div>
                            
                            <div style="padding: 5px; margin-left: 10px;">
                                <p>
                                    {{this.text}}
                                </p>
                                <br>
                            </div>

                            <div class="post_image">
                                <img src="/{{this.image}}" alt="photo">
                            </div>

                            <div class="add_comment">
                                <form action="/post/comment/{{this.id}}" method="post" class="d-flex flex-row justify-content-center align-items-left ">
                                    <input type="text" class="form-control" name="comment" id="comment" placeholder="Write your comment">
                                    <input type="submit" class="btn btn-secondary" value="Comment">
                                </form>
                            </div>

                            <div class="scrollable all_comments">
                                <div class="d-flex flex-column justify-content-start">
                                    {{!-- Single Comment --}}
                                    {{#each ../comments}}
                                        {{#if (IfEqual this.publicationId ../this.id)}}
                                            <div class="d-flex flex-row justify-content-start comment">
                                                <img src="{{this.user.dataValues.photo}}" alt="profile" class="profile_photo_post mt-3" style="margin-right: 10px;">
                                                <div>
                                                    <p><b>{{this.user.dataValues.username}}</b></p>
                                                    <p style="font-size: 10px;">{{this.createdAt}}</p>
                                                    <p>
                                                        {{this.text}}
                                                    </p>
                                                </div>
                                            </div>


                                            {{#each ../../replies}}

                                                {{#if (IfEqual this.commentId ../this.id)}}

                                                    <div class="add_comment">
                                                        <div class="d-flex flex-row float-right comment" style="width:80%;">
                                                            <img src="{{this.user.dataValues.photo}}" alt="profile" class="profile_photo_post mt-3" style="margin-right: 10px;">
                                                            <div>
                                                                <p><b>{{this.user.dataValues.username}}</b></p>
                                                                <p style="font-size: 10px;">{{this.createdAt}}</p>
                                                                <p>
                                                                    {{this.text}}
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                {{/if}}

                                            {{/each}}

                                            <div class="add_comment">
                                                <form action="/post/reply/{{this.id}}" method="post" class="d-flex flex-row float-right" style="width:80%;">
                                                    <input type="text" class="form-control mr-2" name="reply" id="reply" placeholder="Reply Here">
                                                    <input type="submit" class="btn btn-secondary" value="Reply">
                                                </form>
                                            </div>    
                                            
                                        {{/if}}
                                    {{/each}}
                                </div>

                            </div>
                        </div>
                        <br>
                    {{else}}
                        <div class="d-flex flex-column post-container-justText">
                            <div class="d-flex flex-row justify-content-between post-header">
                                <div class="d-flex flex-row">
                                    <img src="{{this.user.dataValues.photo}}" alt="profile" class="profile_photo_post">
                                    <div>
                                        <p><b>{{this.user.dataValues.username}}</b></p>
                                        <p style="font-size: 10px;">{{this.createdAt}}</p>
                                    </div>

                                </div>

                                 <div>
                                    <a href="delete/post/{{this.id}}" class="btn btn-danger" >Delete</a>
                                    <a href="edit/post/{{this.id}}" class="btn btn-secondary" >Edit</a>
                                </div>
                            </div>
                            <div class="text-public" >
                                <h3>{{this.text}}</h3>
                                <br>
                            </div>

                            <div class="add_comment">
                                <form action="/post/comment/{{this.id}}" method="post" class="d-flex flex-row justify-content-center align-items-left ">
                                    <input type="text" class="form-control" name="comment" id="comment" placeholder="Write your comment">
                                    <input type="submit" class="btn btn-secondary" value="Comment">
                                </form>
                            </div>

                            <div class="scrollable all_comments">
                                <div class="d-flex flex-column justify-content-start">
                                    {{!-- Single Comment --}}
                                    {{#each ../comments}}
                                        {{#if (IfEqual this.publicationId ../this.id)}}
                                            <div class="d-flex flex-row justify-content-start comment">
                                                <img src="{{this.user.dataValues.photo}}" alt="profile" class="profile_photo_post mt-3" style="margin-right: 10px;">
                                                <div>
                                                    <p><b>{{this.user.dataValues.username}}</b></p>
                                                    <p style="font-size: 10px;">{{this.createdAt}}</p>
                                                    <p>
                                                        {{this.text}}
                                                    </p>
                                                </div>
                                            </div>


                                            {{#each ../../replies}}

                                                {{#if (IfEqual this.commentId ../this.id)}}

                                                    <div class="add_comment">
                                                        <div class="d-flex flex-row float-right comment" style="width:80%;">
                                                            <img src="{{this.user.dataValues.photo}}" alt="profile" class="profile_photo_post mt-3" style="margin-right: 10px;">
                                                            <div>
                                                                <p><b>{{this.user.dataValues.username}}</b></p>
                                                                <p style="font-size: 10px;">{{this.createdAt}}</p>
                                                                <p>
                                                                    {{this.text}}
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                {{/if}}

                                            {{/each}}

                                            <div class="add_comment">
                                                <form action="/post/reply/{{this.id}}" method="post" class="d-flex flex-row float-right" style="width:80%;">
                                                    <input type="text" class="form-control mr-2" name="reply" id="reply" placeholder="Reply Here">
                                                    <input type="submit" class="btn btn-secondary" value="Reply">
                                                </form>
                                            </div>    
                                            
                                        {{/if}}
                                    {{/each}}
                                </div>

                            </div>
                        </div>
                        <br>
                    {{/if}}
                {{/each}}
               
                <br>

                <br>
                <br>

            </div>
        </div>
    </div>
</div>


